@model  Hoai_Vitaminhouse.Models.Account

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="breadcrumb-wrapper" class="breadcrumb-w-img" style="background-image: url(/wwwroot/img/products/bg_sanpham_6.jpg); ">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div style="text-align: center;">
                <div class="breadcrumb-big">
                    <h2 style="font-size: 38px;">
                        SỬA TÀI KHOẢN
                    </h2>
                </div>
                <div class="breadcrumb-small" style="font-size: 20px; padding-top: 10px;">
                    <a href="@Url.Action("Index","Home")" title="">TRANG CHỦ</a>
                    <span aria-hidden="true">/</span>
                    <span>TÀI KHOẢN</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="grocino-form">

    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto" style="display:flex;justify-content:center;">


                <form method="post" action="@Url.Action("ChangeInfo","Accounts")" class=" form-signin-two m-login-account- m-resss-fe">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.AccountStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.AccountRole, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.AccountPassword, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="ui form">
                        <div class="ui left icon input w-100 ">
                            <h1 class="m-title-login-account">SỬA TÀI KHOẢN</h1>

                        </div>
                        <br /><br />
                        @if (ViewBag.errorUpdateTaikhoan != null)
                        {
                            <div class="alert alert-danger mb-2 text-center" role="alert" style="font-size:16px;margin-top:10px;">
                                @ViewBag.errorUpdateTaikhoan
                            </div>
                        }

                        <div class="field">
                            <div class="ui left icon input w-100 ">
                                @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control", placeholder = "Họ tên" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                        </div>

                        <div class="field">
                            <div class="ui left icon input w-100 ">
                                @Html.EditorFor(model => model.AccountPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "Số điện thoại" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.AccountPhone, "", new { @class = "text-danger" })
                        </div>

                        <div class="field">
                            <div class="ui left icon input w-100 ">
                                @Html.EditorFor(model => model.AccountEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.AccountEmail, "", new { @class = "text-danger" })
                        </div>

                        <div class="field">
                            <div class="ui left icon input w-100 ">
                                @Html.EditorFor(model => model.AccountAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Địa chỉ" } })

                            </div>
                            @Html.ValidationMessageFor(model => model.AccountAddress, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <button class="m-button-login-fe" type="submit" style="margin-top: 20px;">Cập nhật</button>
                    <div class="m-footer-login"> Bạn muốn đổi mật khẩu? <span><a href="@Url.Action("ChangePassword", "Accounts")">Click tại đây</a></span></div>
                </form>

            </div>

        </div>

    </div>

</div>


@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
