
@model Hoai_Vitaminhouse.Models.Account

@{

    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="flex-jc">
    <div class="h-detail h-change-password" style="padding: 20px 40px;">
        
        <div class="h-group-function-detail">
            <div class="h-function-detail-item ">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.AccountId);
                    @Html.HiddenFor(model => model.AccountName);
                    @Html.HiddenFor(model => model.AccountAddress);
                    @Html.HiddenFor(model => model.AccountPhone);
                    @Html.HiddenFor(model => model.AccountEmail);
                    @Html.HiddenFor(model => model.AccountRole);
                    @Html.HiddenFor(model => model.AccountStatus);
                    @Html.HiddenFor(model => model.AccountPassword);


                    <div class="row">
                        <div class="col-12">
                            <div class="h-input-title">Mật khẩu cũ:</div>
                            <input type="password" name="passwordOldBE" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h-input-title" style="padding-top: 7px;">Mật khẩu mới:</div>
                            <input type="password" name="passwordNewBE" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h-input-title" style="padding-top: 7px;">Xác nhận lại mật khẩu:</div>
                            <input type="password" name="confirmPasswordBE" class="form-control" />
                        </div>
                    </div>


                    <div class="col-md-offset-2 col-md-12 text-center" style="padding-top:20px;">
                        <button type="submit" class="btn btn-danger" style="padding: 6px 20px;">
                            Cập nhật
                        </button> &nbsp; | &nbsp;

                        @Html.ActionLink("Hủy", "Index")
                    </div>

                }
            </div>
        </div>
        <div>
            @if (ViewBag.ErrorChangePasswordAccount != null)
            {
                <br />
                <div class="alert alert-danger" role="alert">@ViewBag.ErrorChangePasswordAccount</div>
            }
        </div>
    </div>

</div>
<style>
    .h-change-password .col-12 .h-input-title{
        max-width: 400px;
        min-width:400px;
        
    }
    .h-change-password .col-12{
        margin-bottom: 10px;
    }
</style>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>