@model Hoai_Vitaminhouse.Models.Account

@{

    ViewBag.Title = "Sửa thông tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.AccountStatus, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.AccountRole, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.AccountPassword, new { htmlAttributes = new { @class = "form-control" } })
    <div class="chitiet">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h-input-title">Họ và tên:</div>
                    @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="h-input-title">SĐT nhân viên: </div>
                    @Html.EditorFor(model => model.AccountPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AccountPhone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="h-input-title">Địa chỉ: </div>
                    @Html.EditorFor(model => model.AccountAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AccountAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="h-input-title">Email: </div>
                    @Html.EditorFor(model => model.AccountEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AccountEmail, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-warning">
                        Sửa tài khoản
                    </button> &nbsp; | &nbsp;

                    @Html.ActionLink("Hủy", "Index")

                </div>
                <br />

            </div>
            <div class="row mt-5">
                @if (ViewBag.ErrorChangeInforAccountBE != null)
                {
                    <br />
                    <div class="alert alert-danger" role="alert">@ViewBag.ErrorChangeInforAccountBE</div>
                }
            </div>
        </div>
    </div>
}




<style>
    .chitiet .container .row .col-12 {
        margin-bottom: 12px;
    }
</style>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

