@model PagedList.IPagedList<Hoai_Vitaminhouse.Models.Product>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="breadcrumb-wrapper" class="breadcrumb-w-img" style="background-image: url(/wwwroot/img/products/bg_sanpham_6.jpg); ">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div style="text-align: center;">
                <div class="breadcrumb-big">
                    <h2 style="font-size: 38px;">
                        TÌM KIẾM
                    </h2>
                </div>
                <div class="breadcrumb-small" style="font-size: 20px; padding-top: 10px;">
                    <a href="@Url.Action("Index","Home")" title="">TRANG CHỦ</a>
                    <span aria-hidden="true">/</span>
                    <span>TÌM KIẾM</span>
                    <span aria-hidden="true">/</span>
                    <span>@ViewBag.TukhoaTimkiem</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="m-container-product" style=" display: flex; justify-content: center;">
    <div class="m-product-group">
        @foreach (var item in Model)
        {
            <div class="m-product-item">
                <div class="m-product-img">
                    <a href="@Url.Action("Details","Products",  new { id = item.ProductId })">
                        @{
                            string ImagePath = "";
                            if (item.ProductImage != null)
                            {
                                ImagePath = "~/wwwroot/img/sanpham/" + item.ProductImage;
                            }
                            else { ImagePath = "~/wwwroot/img/sanpham/no-image-news.png"; }
                        }

                        <img src="@Url.Content(ImagePath)" height="250" />
                    </a>
                </div>
                @if (item.ProductDiscount > 0)
                {
                    <div class="m-product-discount">
                        <div class="m-title-discount">GIẢM</div>
                        <div class="m-number-discount">
                            @item.ProductDiscount%
                        </div>
                    </div>
                }
                <div class="m-product-content">
                    <div class="m-product-name">
                        <a href="@Url.Action("Details","Products",  new { id = item.ProductId })">  @item.ProductName</a>
                    </div>
                    <div class="m-product-price-group">
                        @if (item.ProductDiscount > 0)
                        {
                            decimal priceDiscount = (decimal)@item.ProductDiscount * @item.ProductPrice / 100;
                            decimal priceLast = @item.ProductPrice - priceDiscount;

                            <div class="m-product-price">@string.Format("{0:#,##}", priceLast) <u>đ</u></div>
                            <div class="m-product-last"> @string.Format("{0:#,##}", item.ProductPrice) <u>đ</u></div>
                        }
                        else
                        {
                            <div class="m-product-price">@string.Format("{0:#,##}", item.ProductPrice) <u>đ</u></div>
                        }
                    </div>
                </div>
                <a href="htm.html">
                    <div class="m-function-product">

                        <i class="fas fa-shopping-cart"></i> &nbsp;&nbsp;
                        <div class="m-function-title">THÊM VÀO GIỎ</div>

                    </div>
                </a>
            </div>
        }

    </div>
</div>

<div class="m-paging-group">

    @Html.PagedListPager(Model, page => Url.Action("FindProducts", new { page = page, keyword = ViewBag.TukhoaTimkiem }), new PagedListRenderOptions()
    {
        UlElementClasses = new string[] { "store-pagination" },
    });
</div>

